<div class="next-steps my-5">
    <h2 class="my-5 text-center">What will we do next?</h2>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/quickstart/spa/angular/interactive">
            <fa-icon [icon]="faLink"></fa-icon> Register Single Page Application in Auth0 dashboard
          </a>
        </h6>
        <p>
          JavaScript apps that perform most of their user interface logic in a web browser, 
          communicating with a web server primarily using APIs (such as AngularJS + Node.js or React). 
          To learn how to set up a Single-page web application
          <a href="https://manage.auth0.com/dashboard/eu/ ">
            Register for a free account
          </a>
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/get-started/auth0-overview/set-up-apis">
            <fa-icon [icon]="faLink"></fa-icon> Register Weather API in Aut0 dashboard
          </a>
        </h6>
        <p>
          An API is an entity that represents an external resource, capable of accepting and responding to protected resource requests made by applications. 
          In the OAuth2 specification, an API maps to the Resource Server.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://learn.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app">
            <fa-icon [icon]="faLink"></fa-icon> Register Single Page Application in Azure Active Directory
          </a>
        </h6>
        <p>
          The Microsoft identity platform performs identity and access management (IAM) only for registered 
          applications. Whether it's a client application like a web or mobile app, 
          or it's a web API that backs a client app, registering it establishes a trust relationship between 
          your application and the identity provider, the Microsoft identity platform. 
          <a href="https://portal.azure.com/">Login to Azure Portal</a>
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/get-started/auth0-overview/set-up-apis">
            <fa-icon [icon]="faLink"></fa-icon> Register Weather API in Azure Active Directory tenant
          </a>
        </h6>
        <p>
          Register a web API with the Microsoft identity platform and expose it to client apps by adding an 
          example scope. By registering your web API and exposing it through scopes, you can provide 
          permissions-based access to its resources to authorized users and client apps that access your API.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/multifactor-authentication">
            <fa-icon [icon]="faLink"></fa-icon> Enable MFA For Auth0 user
          </a>
        </h6>
        <p>
          Add an extra layer of security by enabling Multi-factor Authentication,
          requiring your users to provide more than one piece of identifying
          information. Push notifications, authenticator apps, SMS, and DUO
          Security are supported.
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/get-started/auth0-overview/set-up-apis">
            <fa-icon [icon]="faLink"></fa-icon> Enable MFA for AAD User
          </a>
        </h6>
        <p>
          Register a web API with the Microsoft identity platform and expose it to client apps by adding an 
          example scope. By registering your web API and exposing it through scopes, you can provide 
          permissions-based access to its resources to authorized users and client apps that access your API.
        </p>
      </div>
    </div>
  </div>
